---
import BaseHead from './BaseHead.astro';
---
<html lang="ja">
    <BaseHead />
    <body>
        <div id="__next" style={{ display: "contents" }}>
            <slot />
        </div>
    </body>
</html>