---
import BaseHead from './BaseHead.astro';

import Header from './Header/Header.astro';
import Footer from './Footer/Footer.astro';

interface Props {
    title?: string;
    description?: string;
    image?: string;
}

const { title, description, image } = Astro.props as Props;

---
<html lang="ja">
    <BaseHead title={title ?? "JSPCE - JavaScript Professional Certification Examination"} description={description ?? "JavaScript Professional Certification Examination Offical Site"} image={image ?? "/favicon.png"} />
    <body class="bg-[#7995AE] dark:bg-[#00010E]">
        <div class="min-h-screen bg-[#7995AE] text-gray-800 dark:bg-[#00010E] dark:text-gray-100 transition-colors duration-300">
            <Header />
            <div id="__nuxt" style={{ display: "contents" }}>
                <slot />
            </div>
            <Footer />
        </div>
    </body>
</html>