---
import ThemeSwitch from './ThemeSwitch.astro';

const menus = [
    {
        name: "Home",
        path: "/",
    },
    {
        name: "About",
        path: "#",
    },
    {
        name: "Contact",
        path: "#",
    },
];

---
<header class="fixed top-0 w-full z-50 font-mont flex items-center justify-between p-4">
    <div>
        <img style={{
            filter: "drop-shadow(0 0 10px rgba(133, 133, 133, 0.5))",
        }} src="/favicon.png" alt="Logo" class="w-[75px] h-[75px] shadow" loading="lazy" decoding="async" fetchpriority="high" width="75" height="75" />
    </div>
    <div class="flex items-center gap-4 space-x-4">
        <div class="flex items-center md:gap-4 md:space-x-4 md:mr-1">
            {
                menus.map((menu, index) => (
                    <a href={menu.path} class={"text-xs text-gray-800 dark:text-gray-100 hover:text-yellow-600 dark:hover:text-yellow-300 bg-[#FFFFFF11] dark:bg-[#00010E33] px-2 py-1 transition duration-150 " + (index === 0 ? "rounded-l-lg" : "") + (index === menus.length - 1 ? "rounded-r-lg" : "")} >{menu.name}</a>
                ))
            }
        </div>
        <ThemeSwitch />
    </div>
</header>