---
---
<div>
    <img style={{
        filter: "drop-shadow(0 0 10px rgba(133, 133, 133, 0.5))",
    }} src="/favicon.png" alt="Logo" class="w-[75px] h-[75px] shadow" loading="lazy" decoding="async" fetchpriority="high" width="75" height="75" />
</div>