---
---
<div class="dark:bg-white">
    <input type="checkbox" id="darkModeSwitch" class="hidden" />
    <label for="darkModeSwitch" class="flex items-center cursor-pointer">
        <span class="relative">
            <span class="block w-10 h-6 bg-gray-400 rounded-full"></span>
            <span class="absolute top-0 left-0 w-4 h-4 mt-1 ml-1 bg-white rounded-full transition"></span>
        </span>
    </label>
</div>

<script>
    
</script>