---
---
<div>
    <input type="checkbox" id="darkModeSwitch" class="hidden" />
    <label for="darkModeSwitch" class="cursor-pointer">
        <div>
            a
        </div>
    </label>        
</div>

<script>
    let currentTheme = localStorage.getItem("theme") || "light";
    localStorage.setItem("theme", currentTheme);

    const darkModeSwitch = document.getElementById("darkModeSwitch");
    const body = document.querySelector("body");

    if (currentTheme === "dark") {
        body.classList.add("dark");
    }

    darkModeSwitch.addEventListener("change", (e) => {
        if (currentTheme === "light") {
            currentTheme = "dark";
            body.classList.add("dark");
            localStorage.setItem("theme", currentTheme);
        }else {
            currentTheme = "light";
            body.classList.remove("dark");
            localStorage.setItem("theme", currentTheme);
        }
    })
</script>
